.InformationCard {
  display: flex;
  justify-content: center;
}

.InformationCard .NumberInput {
  border-radius: 5px;
  border: 1px;
  border-color: black;
}

.InformationCard .GoButton {
  border-radius: 5px;
  border: 1px;
  border-color: black;
  background-color: #ffdb58;
}

.InformationCard .RestaurantName {
  width: 20px;
}
